/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  background-color: #fec631;
}

.headline {
  padding-top: 100px;
  font-size: 2.5em;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

form {
  max-width: 900px;
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

#search {
  width: 65%;
  margin: 0;
  padding: 20px;
  outline: 0;
  border: 0;
  font-size: 1.1em;
}

#submit-btn {
  width: 35%;
  background-color: #f7f7f7;
  border: 0;
  outline: 0;
  font-size: 1.1em;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .headline {
    font-size: 3.5em;
  }

  #search,
  #submit-btn,
  .reiksmes p,
  .antraste p {
    font-size: 2em;
  }
}
/* ----Mano CS------------------------------ */
.isvedimoLaukas {
  padding: 20px;
}
#output {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  width: 80%;
  margin: 50px auto;
  font-size: 1.1em;
}
.reiksmes {
  background-color: rgb(232, 240, 254);
  flex-basis: 35%;
  text-align: center;
}
.antraste {
  background-color: #f7f7f7;
  flex-basis: 65%;
}
.antraste p:nth-child(2) {
  border-top: solid 1px rgb(232, 240, 254);
  border-bottom: solid 1px rgb(232, 240, 254);
}
.reiksmes p:nth-child(2) {
  border-top: solid 1px #f7f7f7;
  border-bottom: solid 1px #f7f7f7;
}
